@import 'fonts/MeltdownMF.ttf';
@import 'icons';

@mixin flex{
	display:flex;
	flex-flow: wrap;
	justify-content:space-around;
}

@mixin center{
	align-text: center;
	align-content: center;
	align-items: center;
	justify-content: center;
}

#root, body, html {
	font-family: 'Signika', sans-serif;
	width:100%;
	height:100%;
	padding:0;
	margin:0;
	background:#ffffff;
	@include flex;
	@include center;
}

.splitter{
  width: 95%;
  height: 100%;
}

.main_wrapper{
  float: left;
  width: 80%;
  padding-left:200px;
  height: auto;
  background:#ffffff;
  @include flex;
} 

.side_bar_wrapper{
  float: left;
  width: 200px;
  height: 100%;
  position:fixed;
}

.side_bar{
  background:#ffffff;
  width:100%;
  height:100%;
  @include flex;
  @include center;
  align-content: center;
}

.gallery_item{
	display:flex;
	@include center;
	text-align:center;
}

h1{
	font-size:3em;
	display:flex;
	@include center;
	width:100%;
	height:250px;
	margin:0;
	background: #222222;
	color:white;
}

ul{
	list-style: none;
	width: 70%;
	@include flex;
	@include center;
	flex-flow:column;
	padding:0;
}

.social_list{
	width:100%;
	flex-flow:wrap;
	justify-content: space-around;
	li {
		display:inline-block;
		width:auto;
		padding:0;
		margin:0;
		&:hover{
			color:red;
		}
		
	}
}

li{
	width:100%;
	padding:5px;
	display:flex;
	@include center;

}

a {  
	text-decoration:none;
	text-align:center;
	font-size: 1.5em;
	display: inline-block;
	width: 90%;
	color:black;
	margin: 10px;
	margin-right:0px;
	height:35px;
	transition: .15s ease;
	border-bottom: 1px solid transparent;
	white-space: nowrap;

	&:hover{
		color:cyan;
		font-size: 1.75em;
		
	}

}

.gallery{
	margin-top: 75px;
	@include flex;
	width:100%;
}

.image_wrapper{
	margin-top:25px;
	margin-bottom:25px;
	width:300px;
	height: 300px;
	display:flex;
}

img{
	cursor: pointer;
}

.active{
	border-bottom: 1px solid black;
	color:cyan;
	&:hover{
		font-size: 1.5em;
		color:black;
	}
}

.image{

	transition:.5s;

	&:hover{
		transform-origin: center;
		animation: wobble 2s infinite;
		animation-timing-function: ease-in-out;
	}
}

@keyframes wobble{

	33%{transform:rotate(45deg)}
	66%{transform:rotate(-20deg)}

}

.quote_container{
 display:flex;
 flex-flow:column wrap;
 width: 80%;
}

.corner_accent{
 border-color: purple;
 width: 50px;
 height: 50px;
 border-style: solid;
 }

.Home{
	margin-top:5vh;
	@include flex;
	@include center;
}
.left{
 border-bottom: none;
 border-right:none;
 align-self: flex-start;
}

blockquote{
	font-family: 'Signika', sans-serif;
 	align-self: center;
 	text-align:center;
	font-weight: bolder;
	font-size: 1.5em;
}

.icon_list{
	width:25px;
}

cite{
	color:#444444;
}

.right{
 border-top:none;
 border-left:none;
 align-self: flex-end;
}

.arrow_carrot-right{
font-size:1.5em;
margin-bottom:5px;
transition: .3s;

}
.dropdown{
	display: none;
	visibility:hidden;
}

.horizontal{
	width: 100%; 
	display: flex;
	flex-flow: row;
	@include center;
}

.drop{
	display:flex;
	flex-flow:wrap column;
	
	ul{
		font-size: .75em;
	}
}

.drop >.horizontal:hover > .arrow_carrot-right{
		transform: rotate(90deg);
}
.show { 
		display: inline-block;
		display:flex;
		flex-flow: column;
		@include center;
		width:100%;
	li{
		align-self:center;
		text-align:center;
	}
}

.hide{
	display:none;
	visibility: hidden;
}

